body{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

.body-form{
    background-color: rgb(126, 126, 126);
}
/***********************************************************************************************************************************************/
/***************************************************************** INDEX.HTML ******************************************************************/
/***********************************************************************************************************************************************/
/**********HEADER**********/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("/media/palmera.jpg");

    background-size: contain;
    width: 100%;
    height: 220px;
}

.sociales-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.sociales-header i{
    padding: 30px 30px;
    font-size: 30px;
    transition: color 0.5s;
    color: black;
}

.sociales-header i:hover{
    color: rgb(121, 121, 121);
    cursor: pointer;
}

.img-header{
    display: flex;
}

.img-header img{
    width: 200px;
}
/**********NAVBAR**********/
.barra{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

.barra a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.25s;
}

.barra a:hover {
    color: rgb(194, 193, 193);
}
/* Descripcion */
.descripcion{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 50px 50px;
    padding-top: 40px;
    padding-bottom: 70px;
}

.descripcion h1{
    text-align: center;
}

.titulo-galeria{
    text-align: center;
    padding: 10px;
}
/**********GALERIA DE ITEMS**********/
.galeria{
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria-img{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
    width: 260px;
    height: 370px;
    justify-content: center;
    background-color: black;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: 2px 2px 4px rgba(182, 182, 182, 1.5);
    transition: transform 0.5s;
    cursor: pointer;
}

.galeria-img:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 15px 5px rgba(182, 182, 182, 1.5);
}

.galeria-img h3{
    letter-spacing: 2px;
    color: white;
}

.img-global{
    width: 100%;
    height: 97%;
    background-size: cover;
}

.img-liquido-uno{
    background-image: url("/media/TartyBeach.jpeg");
}
.img-liquido-dos{
    background-image: url("/media/CitricPool.jpeg");
}
.img-liquido-tres{
    background-image: url("/media/BikiniTits.jpeg");
}
.img-liquido-cuatro{
    background-image: url("/media/CrunchyConch.jpeg");
}
.img-liquido-cinco{
    background-image: url("/media/CherryBlast.jpeg");
}
.img-liquido-seis{
    background-image: url("/media/grapeloop.png");
}

.contenido-img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.contenido-img:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.411);
}

.contenido-img h1{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    padding-top: 10px;
}

.contenido-img p{
    padding: 0px 20px 0px 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.liq-uno{
    color: rgb(226, 43, 217);
    text-shadow: white 1px 1px;
}
.liq-dos{
    color: rgb(255, 123, 0);
    text-shadow: white 1px 1px;
}
.liq-tres{
    color: rgb(14, 122, 14);
    text-shadow: white 1px 1px;
}
.liq-cuatro{
    color: white;
    text-shadow: orangered 1px 1px;
}
.liq-cinco{
    color: red;
    text-shadow: cyan 1px 1px;
}
.liq-seis{
    color: darkorchid;
    text-shadow: white 1px 1px;
}

.galeria-img h3{
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/**********BTN MAS**********/
.btn-ayuda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.btn-ayuda button{
    background-color: black;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    transition: transform 1.2s;
}

.btn-ayuda button:hover{
    background-color: rgba(0, 0, 0, 0.562);
    cursor: pointer;
    transform: scale(1.2);
}

.btn-ayuda button a{
    text-decoration: none;
    color: white;
}

.desc-bottom{
    padding-top: 70px;
    padding-bottom: 70px;
}
/**********FOOTER*********/
.footer{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
}

.sociales-footer{
    font-size: 40px;
    letter-spacing: 20px;
}

.sociales-footer i{
    color: white;
    transition: color 0.5s;
}

.sociales-footer i:hover{
    color: rgb(121, 121, 121);
    cursor: pointer;
}

.contacto a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    letter-spacing: normal;
    transition: letter-spacing 1.2s;
}

.contacto a:hover{
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
}

.copyright{
    color: white;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
/***********************************************************************************************************************************************/
/***************************************************************** GALERIA.HTML ****************************************************************/
/***********************************************************************************************************************************************/
.menu-completo-liquidos{
    display: flex;
    padding: 40px;
}

.menu-liquidos{
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
.menu-liquidos h3 {
    border-top: 3px solid #000;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    padding: 20px;
}
.menu-liquidos ul {
    padding: 0;
}

.liq-izq li,
.liq-der li{
    list-style: none;
}

.liq-izq li a,
.liq-der li a{
    text-decoration: none;
    color: black;
}
.menu-liquidos a:hover {
    color: #776b6b;
}
.galeria-liquidos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.liquido-caja{
    margin: 15px;
    width: 25%;
    font-size: 13px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(185, 185, 185, 1);
    transition: transform 0.5s;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
}

.liquido-caja:hover {
    box-shadow: 0px 10px 15px 5px rgba(182, 182, 182, 1.5);
    transform: translateY(-10px);
}

.liquido-caja img{
    width: 210px;
    height: 195px;
    max-height: 100%;
    max-width: 100%;
}

.info-importante{
    background-color: white;
    display: flex;
    padding: 50px;
    margin: 40px 0px 40px 0px;
    flex-direction: column;
    align-items: center;
}
/***********************************************************************************************************************************************/
/***************************************************************** FORM.HTML *******************************************************************/
/***********************************************************************************************************************************************/
.form-size{
    width: 100%;
    max-width: 600px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.534);
    border-radius: 8px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.btn-align{
    display: flex;
    justify-content: left;
    align-items: center;
}

.btn-form{
    background-color: white;
}

.verificar{
    text-decoration: none;
    color: #212529;
    background-color: white;
    padding: 6px 12px;
    margin-left: 5px;
    border-radius: 3px;
    height: 38px;
}

.verificar:hover{
    color: #212529;
    cursor: pointer;
}

.comentarios-text textarea{
   width: 100%;
   height: 150px;
}

.notValid{
    border: 3px red solid !important;
}

.isValid{
    border: 3px green solid !important;
}
/****************** Mobile Tablet *******************/
/************* Mobile IPHONE 6/7/8 PLUS *************/
@media (min-width: 414px) and (max-width: 767px){
    body{
        margin: 0;
        padding: 0;
    }
    /*******************************/
    /*********** HEADER ************/
    /*******************************/
    .header{
        background-size: cover;
    }

    .sociales-header{
        display: none;
    }

    .img-header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .img-header img{
        width: 220px;
    }

    .contacto-header{
        display: none;
    }
    /*******************************/
    /*********** NAVBAR ************/
    /*******************************/
    .barra{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: black;
        height: 30px;
    }

    .barra a{
        font-size: 15px;
    }

    /* DESCRIPCION */
    .descripcion{
        display: none;
    }

    /************************************/
    /*********** GALERIA IMG ************/
    /************************************/
    .galeria{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .galeria-img{
        margin: 0px 0px 40px 0px;  
        width: 256px;
        height: 400px;
    }
    /*********** BOTON ************/
    .btn-ayuda{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .btn-ayuda button{
        width: 40%;
        font-size: 15px;
        padding: 10px;
        border-radius: 10px;
        letter-spacing: 3px;
        font-weight: 600;  
    }
    /*********** FOOTER ************/
    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: static;
    }

    .sociales-footer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 18px;
    }

    .sociales-footer i{
        font-size: 35px;
    }

    .contacto{
        text-align: center;
        width: 100%;
    }
    .contacto a{
        font-size: 25px;
        font-weight: 600;
    }

    .copyright{
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        width: 100%;
    }
    /*************************************/
    /*********** GALERIA.HTML ************/
    /*************************************/
    .menu-completo-liquidos{
        flex-direction: column;
    }

    .menu-liquidos{
        width: 100%;
    }
    .menu-liquidos ul{
        display: flex;
        justify-content: space-evenly;
    }

    .galeria-liquidos{
       flex-direction: column;
       flex-wrap: nowrap;
       align-items: center;
    }

    .liquido-caja{
        margin: 0;
        margin-top: 5px;
        margin-left: 5px;
        width: 60%;
    }

    .info-importante{
        display: none;
    }
    /* CONTACTO */
    .btn-align{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

/********************** TABLET **********************/

@media (min-width: 768px) and (max-width: 1200px) {
    /* INDEX.HTML */
    .desc-bottom{
        display: none;
    }
    /* GALERIA.HTML */
    .menu-completo-liquidos{
        flex-direction: column;
    }

    .menu-liquidos{
        width: 100%;
    }

    .menu-liquidos ul{
        display: flex;
        justify-content: space-evenly;
    }

    .info-importante{
        display: none;
    }
    /* FORM.HTML */
}


/* Validacion formulario class*/


