/*Kaushan Script Google fonts Para los h1 de los liquidos*/


body{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
/***********************************************************************************************************************************************/
/***************************************************************** INDEX.HTML ******************************************************************/
/***********************************************************************************************************************************************/

/**********HEADER**********/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("/media/PalmeraHeader.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 220px;
}

.sociales-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.sociales-header i{
    padding: 30px 30px;
    font-size: 30px;
    transition: color 0.5s;
    color: rgb(240, 199, 206);
}

.sociales-header i:hover{
    color: black;
}

.img-header{
    display: flex;
}

.img-header img{
    width: 200px;
}


/**********NAVBAR**********/
.barra{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

.barra a {
    text-decoration: none;
    color: #6e6363c5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.25s;
}

.barra a:hover {
    color: rgb(194, 193, 193);
}
/* Descripcion */

.descripcion{
    margin: 50px 50px;
}

.descripcion h1{
    text-align: center;
}






/**********GALERIA DE ITEMS**********/
.galeria{
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria-img{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
    width: 260px;
    height: 370px;
    justify-content: center;
    background-color: rgb(255, 81, 0);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.galeria-img h3{
    letter-spacing: 2px;
}

.img-liquido{
    width: 100%;
    height: 97%;
    background-image: url("/media/Bahamas.png");
}

.contenido-img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}



.contenido-img:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.411);
    transform: background-color 0.5s;
}

.contenido-img h1{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    padding-top: 10px;
}

.contenido-img p{
    padding: 0px 20px 0px 20px;
    font-size: 20px;
    color: white;
}

.liq-uno{
    color: rgb(226, 43, 217);
    text-shadow: white 1px 1px;
}
.liq-dos{
    color: rgb(255, 123, 0);
    text-shadow: white 1px 1px;
}
.liq-tres{
    color: rgb(14, 122, 14);
    text-shadow: white 1px 1px;
}
.liq-cuatro{
    color: white;
    text-shadow: orangered 1px 1px;
}
.liq-cinco{
    color: red;
    text-shadow: cyan 1px 1px;
}
.liq-seis{
    color: darkorchid;
    text-shadow: white 1px 1px;
}



.galeria-img h3{
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}




/**********BTN MAS**********/
.btn-ayuda{
    text-align: center;
}

.btn-ayuda button{
    background-color: rgb(202, 34, 34);
    color: white;
    border: none;
    width: 300px;
    height: 40px;
    border-radius: 7px;
}

.btn-ayuda button:hover{
    background-color: rgb(190, 22, 22);
}

/**********FOOTER*********/
.footer{
    background-color: rgb(190, 89, 22);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sociales-footer{
    color: black;
    font-size: 40px;
}

.sociales-footer i:hover{
    color: white;
}

.contacto a{
    text-decoration: none;
    color: black;
}

.copyright{
    color: black;
}


/***********************************************************************************************************************************************/
/***************************************************************** GALERIA.HTML ****************************************************************/
/***********************************************************************************************************************************************/
.menu-contenidos ul{
    list-style: none;
}

/***********************************************************************************************************************************************/
/***************************************************************** FORM.HTML *******************************************************************/
/***********************************************************************************************************************************************/


/************** Mobile Desktop Tablet ***************/
/************* Mobile IPHONE 6/7/8 PLUS *************/
@media only screen and (max-width: 500px){

    body{
        margin: 0;
        padding: 0;
    }
    /*******************************/
    /*********** HEADER ************/
    /*******************************/
    .header{
        background-size: cover;
    }

    .sociales-header{
        display: none;
    }

    .img-header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .img-header img{
        width: 220px;
    }

    .contacto-header{
        display: none;
    }
    /*******************************/
    /*********** NAVBAR ************/
    /*******************************/
    .barra{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: black;
        height: 30px;
    }

    .barra a{
        font-size: 15px;
    }

    /* DESCRIPCION */
    .descripcion{
        display: none;
    }

    /************************************/
    /*********** GALERIA IMG ************/
    /************************************/
    .galeria{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .galeria-img{
        margin: 0px 0px 40px 0px;  
        width: 256px;
        height: 400px;
    }

    .img-liquido{
        background-image: url("/media/Bahamas.png");
    }

   

    /*********** BOTON ************/
    .btn-ayuda{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .btn-ayuda button{
        width: 40%;
        font-size: 15px;
        padding: 10px;
        border-radius: 10px;
        letter-spacing: 3px;
        font-weight: 600;  
    }
    /*********** FOOTER ************/ /* Modificar Posiciones */
    .footer{
        display: grid;
        grid-template-areas: 
        "social contacto"
        "copyright copyright";
    }

    .sociales-footer{
        font-size: 30px;
        grid-area: social;
        text-align: center;
        padding-top: 10px;
    }

    .sociales-footer i{
        margin: 4px;
    }

    .contacto{
        grid-area: contacto;
        text-align: center;
        padding-top: 20px;
        font-size: 18px;
        font-weight: 600;
    }

    .copyright{
        grid-area: copyright;
        text-align: center;
        font-size: 18px;
        padding-top: 5px;
        font-weight: 500;
    }


    /*************************************/
    /*********** GALERIA.HTML ************/
    /*************************************/




    /*************************************/
    /*********** TITULO Y MENU ***********/
    /*************************************/
    .titulo-galeria{
        text-align: center;
        border: 1px solid black;
    }

    .menu{
        display: flex;
        justify-content: space-evenly;
        align-items: center;       
    }

    .contenidos-fila{
        border: 1px solid black;
        width: 100%;
    }

    .contenidos-fila p{
        margin: 0;
    }

    /******* CONTENIDOS DEL MENU *******/
    .contenidos-galeria{
        border: 1px solid black;
    }
}


/*  Seguir Modificando directo en el flex y galeria en mobile primero despues para Tablet y Desktop*/
